@import "vars";
@import "asserts";
@import "base";
@import "buttons";
@import "components";
@import "offcanvas";
@import "renders";


.colours {
    display: flex !important;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.colour {

    width: 250px;
    margin: 0px 0px 40px 0px;
    text-align: center;
}

.colour .square {

    height: 120px;
    margin: 0px auto 10px auto;
}

.sampleBlock {
    padding: 30px 0px;
}

.cblk {
    width: 18px;
    height: 18px;
    vertical-align: text-top;
    box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 0.1);
    margin-left: 4px;
    display: inline-block;

}

.data-column {
    flex: 0 0 auto;
    width: 100%;
    padding: 30px !important;
}

.data-column:nth-child(even) {
    background-color: var(--bs-light);
}

.data-column:last-child {
    margin-bottom: 2rem;
}

[data-compute="true"] .list-group-item,
#contentsNav .list-group-item {
    background-color: transparent;
    padding: 6px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    transition: all ease .24s;
    cursor: default;
}

[data-compute="true"] .list-group-item:hover,
#contentsNav .list-group-item:hover {
    background-color: #ebebed;
}

[data-compute="true"] .text-small {
    font-size: 8px;
}

[data-compute="true"] {
    margin-bottom: 1.8rem;
    overflow-wrap: break-word;
}

@media (min-width: 768px) {
    .data-column {
        width: 50%;
    }
}

@media (min-width: 992px) {
    .data-column {
        width: 33.33333%;
    }
}

.btn-contents {
    position: fixed;
    top: 50%;
    transform: translate(0, -50%);
    right: 8px;
    color: white;
    mix-blend-mode: difference;
    padding: 10px;
    text-decoration: none;
    z-index: 9999999999;
    transition: all ease-in 0.24s;
}

.btn-contents:hover {
    transform: translate(-8px, -50%);
}

.offcanvas.show+.btn-contents {
    z-index: -1;
}

.content-link {
    display: block;
    text-decoration: none;
    font-size: 40px;
    color: white;
    padding: 30px;
    margin-bottom: 30px;
    background-color: var(--bs-dark);
    text-align: left;
}